//variables de colores
$colorOscuro: #B4846C;
$colorMedio: #d49d81;
$colorClaro: #fcd4c0;
$colorNegro: black;
$colorBlanco: rgb(255, 255, 255);
$colorPromo: #CCF3EE;

//variables de medidas en px
$medidaMobile: 320px;
$medidaCard: 305px;
$anchoTotal: 520px;
$altoCarrousel: 530px;
$anchoVideo: 520px;