//variables de colores
$colorOscuro: #B4846C;
$colorMedio: #d49d81;
$colorClaro: #fcd4c0;
$colorNegro: black;
$colorBlanco: rgb(255, 255, 255);

//variables de medidas en px
$medidaMobile: 320px;
$medidaCard: 305px;
$anchoCarrousel: 410px;
$altoCarrousel: 530px;
$anchoVideo1: 300px;
